/*
Name: NURIN SYAZWANI BINTI MOHD KHAIRI
Matric ID: 2020483176
*/
html, body {
  min-height: 100%;
  font-size: 18px;
  font-family: Georgia, serif;
  color: #000033;
}

html{
  background-image: url('back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

a{
	text-decoration: none;
}

.heading {
  font-family: "Great vibes", cursive;
  font-size: 40px;
  color:#00004d ;
  letter-spacing: -2px;
  font-weight: normal; 
  margin-top: 40px; 
  text-align: center; 
  font-style: oblique;
}

p{
  font-size: 18px;
  font-family: Georgia, serif;
}

/*Css for table in index.html page*/
.main{
  margin-left: 30px;
}

.main ul {
  margin-left: 10px;
}

#Intro{
  width:200px;
  height:250px;
}

#Img, h1{
  text-align: center;
}

#Img{
  size: 200px;
}

/*Css for table in MySkillsAndAchievements.html page*/
#prdkmpk{
  width:500px;
  height:350px
}

#exmresult{
  margin-left: 25px;
  width: 400px;
  border: 1px solid black;
  border-color: black;
}

#exmresult caption{
  text-align: left;
}

#exmresult td{
  text-align: center;
}

#exmresult tr{
  background-color:lavenderblush;
  font-size: 17px;
}

#exmresult th{
  background-color: #1224;
  font-size: 17px;
}

#exmresult th td{
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}

/*Css in contact page*/
.iconImg{
  width:55px;
  height:55px;
}

/*Css for table and list*/
/*index.html page, #listSkill is in MySkillsAndAchievements.html*/
#eduTable li, #listSkill li {
  padding-left: 10px;
  margin-left: 10px;
}

#eduTable a:visited{
  color: darkmagenta;
}

#eduTable a:hover{
  color: royalblue;
   float: left;
}

#eduTable a:hover, #peers a:visited, #ContactTable a:visited{
  color: royalblue;
}

/*MySkillsAndAchievements.html page*/
#peers a:active {
  background-color: #00264d;
  border-radius: 5px;
}

/*WaysToContact.html page*/
#ContactTable{
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

#ContactTable a:link{
  color: #009933;
}

#ContactTable a:hover{
  color: #ff4d4d;
  float: left;
}

#ContactTable td{
  padding-left: 10px;
}

/*Css for navigation bar*/
header{
  width: 100%;
  background-color: rgba(0, 0, 0,.1);
}

.logo{
  width: 80px;
}

.navMenu{
  width: 100%;
  height: 50px;
  margin: 20px;
  display: flex;
  align-items: center;
}

nav{
    flex: 1;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 0px;
}

.navMenu ul li a{
  text-decoration: none;
  color: #333;
  display: block;
  text-transform: uppercase;
  font-family: 'Raleway',sans-serif;
  letter-spacing: 2px;
  font-weight: 550;
  padding: 10px;
}

.navMenu li a:hover {
  background-color: #babaf7;
  padding: 5px;
  border-left: 3px solid #666699;
  cursor: pointer;
}

/*Css for footer*/
#footer{
  position:fixed;
  padding: 3px 10px 0px 5px;
  bottom: 0px;
  height: 20px;
  border-radius: 5px;
  background: #9999ff;
}


